*{
  padding:0;
  margin:0;
}

@media only screen and (max-width: 1080px), only screen and (max-device-width:1080px) {
    html, body {
        font-size:57.599999999999994px;
    }
}
@media only screen and (max-width: 960px), only screen and (max-device-width:960px) {
    html, body {
        font-size:51.2px;
    }
}
@media only screen and (max-width: 800px), only screen and (max-device-width:800px) {
    html, body {
        font-size:42.666666666666664px;
    }
}
@media only screen and (max-width: 720px), only screen and (max-device-width:720px) {
    html, body {
        font-size:38.4px;
    }
}
@media only screen and (max-width: 640px), only screen and (max-device-width:640px) {
    html, body {
        font-size:34.13333333333333px;
    }
}
@media only screen and (max-width: 600px), only screen and (max-device-width:600px) {
    html, body {
        font-size:32px;
    }
}
@media only screen and (max-width: 540px), only screen and (max-device-width:540px) {
    html, body {
        font-size:28.799999999999997px;
    }
}
@media only screen and (max-width: 480px), only screen and (max-device-width:480px) {
    html, body {
        font-size:25.6px;
    }
}
@media only screen and (max-width: 414px), only screen and (max-device-width:414px) {
    html, body {
        font-size:22.080000000000002px;
    }
}
@media only screen and (max-width: 400px), only screen and (max-device-width:400px) {
    html, body {
        font-size:21.333333333333332px;
    }
}
@media only screen and (max-width: 375px), only screen and (max-device-width:375px) {
    html, body {
        font-size:20px;
    }
}
@media only screen and (max-width: 360px), only screen and (max-device-width:360px) {
    html, body {
        font-size:19.2px;
    }
}
@media only screen and (max-width: 320px), only screen and (max-device-width:320px) {
    html, body {
        font-size:17.066666666666666px;
    }
}
@media only screen and (max-width: 240px), only screen and (max-device-width:240px) {
    html, body {
        font-size:12.8px;
    }
}
div{
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
.lottery-con {
  background-color: #fff;
}
.lottery-header {
  text-align: center;
  width:100%;
  height:3rem;
  line-height:3rem;
  background-color:#f95f53;
  color:#fff;
}
.lottery-body {
  margin-top:2rem;
}
.lottery-integral-detail {
  color: #f95f53;
  font-size: 0.75rem;
  line-height: 0.5rem;
  text-align: center;
  display: block;
  padding: 1.0rem 0 1.5rem;
}
.lottery-integral-detail i {
  position: relative;
  top: 1px;
}
.lottery-thead {
  width: 7.075rem;
  height: 1.55rem;
  background-color: #f95f53;
  color: #fff;
  text-align: center;
  line-height: 1.5rem;
  font-size: 0.75rem;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  margin: 0 auto -0.025rem;
}
.lottery-tbody {
  background-color: #f95f53;
  padding: 0.375rem;
  width: 16.75rem;
  margin: 0 auto;
  border-radius: 3px;
}
.lottery-tb-inner {
  background-color: #ffeeed;
  position: relative;
}
.lottery-tb-inner.shuffle .lottery-mask {
  display: block;
}
.lottery-tb-inner.shuffle .lottery-tb-list li:nth-child(1) {
  -webkit-transform: translate3d(5.625rem, 6.525rem, 0);
}
.lottery-tb-inner.shuffle .lottery-tb-list li:nth-child(2) {
  -webkit-transform: translate3d(0rem, 6.525rem, 0);
}
.lottery-tb-inner.shuffle .lottery-tb-list li:nth-child(3) {
  -webkit-transform: translate3d(-5.625rem, 6.525rem, 0);
}
.lottery-tb-inner.shuffle .lottery-tb-list li:nth-child(4) {
  -webkit-transform: translate3d(-5.625rem, 0rem, 0);
}
.lottery-tb-inner.shuffle .lottery-tb-list li:nth-child(5) {
  -webkit-transform: translate3d(-5.625rem, -6.525rem, 0);
}
.lottery-tb-inner.shuffle .lottery-tb-list li:nth-child(6) {
  -webkit-transform: translate3d(0rem, -6.525rem, 0);
}
.lottery-tb-inner.shuffle .lottery-tb-list li:nth-child(7) {
  -webkit-transform: translate3d(5.625rem, -6.525rem, 0);
}
.lottery-tb-inner.shuffle .lottery-tb-list li:nth-child(8) {
  -webkit-transform: translate3d(5.625rem, 0rem, 0);
}

.lottery-tb-btn {
  width: 4.45rem;
  height: 4.575rem;
  background-image: url(../images/flip_button.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 98%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 7.4rem;
  text-align: center;
  line-height: 4.575rem;
  color: #feeae8;
  font-size: 0.9rem;
}
.lottery-tb-btn-d {
  background-position: -0.05rem -4.72rem;
  line-height: 4.65rem;
}
.lottery-tb-list {
  position: relative;
  height: 19.375rem;
}
.lottery-tb-list li {
  width: 5.475rem;
  height: 6.325rem;
  border-radius: 3px;
  position: absolute;
  overflow: hidden;
  -webkit-transition-duration: 200ms;
  z-index: 2;
  opacity: 1;
  -webkit-backface-visibility: hidden;
}
.lottery-tb-list li:nth-child(1) {
  -webkit-transition-delay: 100ms;
  left: 0;
  top: 0;
}
.lottery-tb-list li:nth-child(2) {
  -webkit-transition-delay: 200ms;
  left: 5.65rem;
  top: 0;
}
.lottery-tb-list li:nth-child(3) {
  -webkit-transition-delay: 300ms;
  left: 11.275rem;
  top: 0;
}
.lottery-tb-list li:nth-child(4) {
  -webkit-transition-delay: 400ms;
  left: 11.275rem;
  top: 6.5rem;
}
.lottery-tb-list li:nth-child(5) {
  -webkit-transition-delay: 500ms;
  left: 11.275rem;
  top: 13.0rem;
}
.lottery-tb-list li:nth-child(6) {
  -webkit-transition-delay: 600ms;
  left: 5.64rem;
  top: 13.0rem;
}
.lottery-tb-list li:nth-child(7) {
  -webkit-transition-delay: 700ms;
  left: 0rem;
  top: 13.0rem;
}
.lottery-tb-list li:nth-child(8) {
  -webkit-transition-delay: 800ms;
  left: 0rem;
  top: 6.5rem;
}
.lottery-tb-list .lottery-playing-cards {
  width: 100%;
  height: 100%;
}
.lottery-tb-list .lottery-flip-card {
  position: absolute;
  width: 5.475rem;
  height: 6.325rem;
  left: 0;
  top: 0;
  border-radius: 3px;
}
.lottery-tb-list .lottery-positive {
  background-color: #fff;
}
.lottery-tb-list .lottery-positive i {
  display: block;
  margin: 0 auto;
}
.lottery-tb-list .lottery-positive i.lottery-experience-gold {
  background: url(../images/red_packet.png) center no-repeat;
  background-size: 100%;
  width: 2.5rem;
  height: 4.375rem;
}
.lottery-tb-list .lottery-positive i.lottery-card-volume {
  background: url(../images/card_volume.png) center no-repeat;
  background-size: 100%;
  width: 4.375rem;
  height: 4.375rem;
  line-height: 4.375rem;
  color: #fff;
  text-align: right;
}
.lottery-tb-list .lottery-positive i.lottery-cv1 {
  font-size: 1.075rem;
}
.lottery-tb-list .lottery-positive i.lottery-cv1 em {
  margin-right: 0.3rem;
}
.lottery-tb-list .lottery-positive i.lottery-thank-you {
  background: url(../images/thankYou.png) center no-repeat;
  background-size: 100%;
  width: 2.325rem;
  height: 4.375rem;
  line-height: 4.375rem;
  color: #fff;
  text-align: right;
}
.lottery-tb-list .lottery-positive span {
  text-align: center;
  display: block;
  line-height: 0.8rem;
}
.lottery-tb-list .lottery-positive .lottery-tit {
  font-size: 0.65rem;
  color: #666666;
}
.lottery-tb-list .lottery-positive .lottery-see {
  font-size: 0.55rem;
  color: #999999;
}
.lottery-tb-list .lottery-reverse {
  background: url(../images/reverse.png) center no-repeat;
  background-size: 100%;
}
.lottery-mask {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: none;
}
.lottery-msg{
  text-align: center;
  font-size:0.75rem;
  color:orangered;
  line-height:2rem;
}
.in {
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-duration: 350ms;
  animation-timing-function: ease-out;
  animation-duration: 350ms;
}
.out {
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 225ms;
  animation-timing-function: ease-in;
  animation-duration: 225ms;
}
.viewport-flip {
  -webkit-perspective: 1000;
  perspective: 1000;
  position: absolute;
  left:0;
  top:0;
}
.flip {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateX(0);
  backface-visibility: hidden;
  transform: translateX(0);
}
.flip.out {
  -webkit-transform: rotateY(-90deg) scale(0.9);
  -webkit-animation-name: flipouttoleft;
  -webkit-animation-duration: 175ms;
  transform: rotateY(-90deg) scale(0.9);
  animation-name: flipouttoleft;
  animation-duration: 175ms;
}
.flip.in {
  -webkit-animation-name: flipintoright;
  -webkit-animation-duration: 225ms;
  animation-name: flipintoright;
  animation-duration: 225ms;
}
.flip.out.reverse {
  -webkit-transform: rotateY(90deg) scale(0.9);
  -webkit-animation-name: flipouttoright;
  transform: rotateY(90deg) scale(0.9);
  animation-name: flipouttoright;
}
.flip.in.reverse {
  -webkit-animation-name: flipintoleft;
  animation-name: flipintoleft;
}

@-webkit-keyframes flipouttoleft {
  from {
    -webkit-transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(-90deg) scale(0.9);
  }
}
@keyframes flipouttoleft {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(-90deg) scale(0.9);
  }
}
@-webkit-keyframes flipouttoright {
  from {
    -webkit-transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(90deg) scale(0.9);
  }
}
@keyframes flipouttoright {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(90deg) scale(0.9);
  }
}
@-webkit-keyframes flipintoleft {
  from {
    -webkit-transform: rotateY(-90deg) scale(0.9);
  }
  to {
    -webkit-transform: rotateY(0);
  }
}
@keyframes flipintoleft {
  from {
    transform: rotateY(-90deg) scale(0.9);
  }
  to {
    transform: rotateY(0);
  }
}
@-webkit-keyframes flipintoright {
  from {
    -webkit-transform: rotateY(90deg) scale(0.9);
  }
  to {
    -webkit-transform: rotateY(0);
  }
}
@keyframes flipintoright {
  from {
    transform: rotateY(90deg) scale(0.9);
  }
  to {
    transform: rotateY(0);
  }
}
